{% extends 'base.html' %}
{% block body %}
    <body>
    <link rel="stylesheet" href="/static/css/signin.css">
    <div class="container">

        <form action="" class="form-signin" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">图书管理系统</h2>

            <input type="password" id="cur_pwd" class="form-control" placeholder="当前密码" name="cur_pwd">
            <label for="cur_pwd" id="cur_pwd_label">请输入当前密码</label>

            <input type="password" id="new_pwd" class="form-control" placeholder="新密码" required=""
                   name="new_pwd" style="margin-top: 10px; margin-bottom: 5px" autocomplete="new-password">
            <input type="password" id="new_pwd_ensure" class="form-control" placeholder="确认密码" required=""
                   name="new_pwd_ensure" autocomplete="off">
            <label for="new_pwd" id="new_pwd_label"></label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">确认修改</button>
        </form>

    </div> <!-- /container -->

    </body>
{% endblock body %}
{% block js %}
    <script>
        $("#cur_pwd").blur(function () {
            cur_pwd = $(this).val();
            $.ajax({
                url: '/app01/set_password/',
                method: 'post',
                data: {
                    cur_pwd: cur_pwd,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                },
                success: function (data) {
                    if (data == 'false') {
                        $("#cur_pwd_label").html('密码错误').attr('style', 'color:red');
                    } else {
                        $("#cur_pwd_label").html('密码正确√').attr('style', 'color:green');
                    }
                }
            })
        });

        $('#new_pwd,#new_pwd_ensure').blur(function () {
            pwd1 = $('#new_pwd').val();
            pwd2 = $('#new_pwd_ensure').val();
            if (pwd1 !== "" && pwd2 !== ""
            ) {
                if (pwd1 !== pwd2) {
                    $('#new_pwd_label').html('两次密码不一致').attr('style', 'color:red').show()
                } else {
                    $('#new_pwd_label').html('两次密码相同√').attr('style', 'color:green').show()
                }

            }
        })
    </script>

{% endblock js %}

